/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 nov. 2013, 07:12:07
    Author     : galbanie <galbanie at setrukmarcroger@gmail.com>
*/
html{
    height: 100%;
}

body{
    height: 100%;
}

body>section{
    height: 100%;
}

#page-table{
    height: 100%;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

#page-td{
    height: 100%;
    padding: 0;
    vertical-align: middle;
}

#box-logOn{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    text-align: left;
    
}

#box-logOn h1{
    text-align: center;
}

#box-logOn form{
    margin-top: 20px;
}

#box-logOn label,
#box-dialog-pwdforget label{
    font-size: medium !important;
    padding:  0 40px 10px 40px;
    color: #ffffff;
}

#box-logOn label input[type="text"],
#box-logOn label input[type="password"],
#box-dialog-pwdforget label input[type="text"]{
    width: 300px;
    padding: 5px;
}

#box-logOn button{
    margin-left: 40px; 
}

#box-btn-logon,
#box-btn-guessIn{
    position: absolute;
    /*z-index: 700;*/
    width: 90px;
    /*height: 70px;*/
    -moz-border-radius:10px 0;
    -webkit-border-radius:10px 0;
    border-radius:10px 0;
    text-align: center;
    padding: 30px 0;
    cursor: pointer;
}

#box-btn-logon{
    top: 50px;
    right: 50px;
}

#box-btn-guessIn{
    top: 150px;
    right: 50px;
}

#box-btn-guessIn form{
    margin: 0 !important;
}

/* Menu Principal */

#menu-main{
    text-align: center;
}

#menu-main ul{
    text-align: left;
    display: inline;
    margin: 0;
    padding: 15px 4px 17px 0;
    list-style: none;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

#menu-main ul li{
    font: bold 12px/18px sans-serif;
    display: inline-block;
    margin-right: -4px;
    position: relative;
    /*padding: 15px 20px;*/
    background: #fff;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

#menu-main ul li:hover{
    background: #555;
    color: #fff;
}

#menu-main ul li ul{
    padding: 0;
    position: absolute;
    top: 48px;
    left: 0;
    width: 150px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: none;
    opacity: 0;
    visibility: hidden;
    -webkit-transiton: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -transition: opacity 0.2s;
}

#menu-main ul li ul li{
    background: #555; 
    display: block; 
    color: #fff;
    text-shadow: 0 -1px 0 #000;
}

#menu-main ul li ul li:hover{
    background: #666;
}

#menu-main ul li:hover ul{
    display: block;
    opacity: 1;
    visibility: visible;
}

#menu-main a {
  display:block;
  text-decoration: none;
  color: inherit;
  padding: 15px 20px;
}

/* Principal */

#box-main-menu,
#box-main-content{
    float: left;
    padding: 10px;
    margin: 20px 0;
}

#box-main-menu{
    width: 20%;
}

#box-main-content{
    width: 75%;
}

/* Menu user */
/*#menu-accordeon {
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
  width: 180px;
}
#menu-accordeon ul {
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
}
#menu-accordeon li {
background-color:#096ac8; 
background-image:-webkit-linear-gradient(top, #052f57 0%, #096ac8 100%);
background-image: linear-gradient(to bottom, #052f57 0%, #096ac8 100%);
   border-radius: 6px;
   margin-bottom:1px;
   box-shadow: 3px 3px 3px #999;
   border:solid 1px #333A40
}
#menu-accordeon li li {
   max-height:0;
   overflow: hidden;
   transition: all .5s;
   border-radius:0;
   background: #444;
   box-shadow: none;
   border:none;
   margin:0;
}
#menu-accordeon a {
  display:block;
  text-decoration: none;
  color: #fff;
  padding: 8px 0;
  font-family: verdana;
  font-size:medium;
}
#menu-accordeon ul li a, #menu-accordeon li:hover li a {
  font-size:12px;
}
#menu-accordeon li:hover {
   background: #729EBF;
}
#menu-accordeon li li:hover {
   background: #999;
}
#menu-accordeon ul li:last-child {
   border-radius: 0 0 6px 6px;
   border:none;
}
#menu-accordeon li:hover li {
  max-height: 15em;
}*/

#menu-user{
    
}

#menu-cat{
    /*width: 220px;*/
    /*margin: 100px auto;*/
    margin-top: 20px;
    font-size: 0.8125em;
}

#menu-cat ul,
#menu-cat ul ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu {
    width: auto;
    height: auto;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
}

.menu > li > a {
    background: rgb(25,25,25);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyJSIgc3RvcC1jb2xvcj0iIzE5MTkxOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxOTE5MTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgb(25,25,25) 2%, rgb(25,25,25) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgb(25,25,25)), color-stop(100%,rgb(25,25,25)));
    background: -webkit-linear-gradient(top,  rgb(25,25,25) 2%,rgb(25,25,25) 100%);
    background: -o-linear-gradient(top,  rgb(25,25,25) 2%,rgb(25,25,25) 100%);
    background: -ms-linear-gradient(top,  rgb(25,25,25) 2%,rgb(25,25,25) 100%);
    background: linear-gradient(to bottom,  rgb(25,25,25) 2%,rgb(25,25,25) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#191919', endColorstr='#191919',GradientType=0 );

    border-bottom: 1px solid #33373d;
    -webkit-box-shadow: inset 0px 1px 0px 0px #878e98;
    -moz-box-shadow: inset 0px 1px 0px 0px #878e98;
    box-shadow: inset 0px 1px 0px 0px #878e98;
    width: 100%;
    height: 2.75em;
    line-height: 2.75em;
    text-indent: 2.75em;
    display: block;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #fff;
    text-shadow: 0px 1px 0px rgba(0,0,0,.5);
}
.menu ul li a {
    background: #fff;
    border-bottom: 1px solid #efeff0;
    width: 100%;
    height: 2.75em;
    line-height: 2.75em;
    text-indent: 2.75em;
    display: block;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.923em;
    font-weight: 400;
    color: #878d95;
}
.menu ul li:last-child a {
    border-bottom: 1px solid #33373d;
}
.menu > li > a:hover, .menu > li > a.active {
    background: rgb(0,49,165);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMzFhNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDMxYTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgb(0,49,165) 0%, rgb(0,49,165) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(0,49,165)), color-stop(100%,rgb(0,49,165)));
    background: -webkit-linear-gradient(top,  rgb(0,49,165) 0%,rgb(0,49,165) 100%);
    background: -o-linear-gradient(top,  rgb(0,49,165) 0%,rgb(0,49,165) 100%);
    background: -ms-linear-gradient(top,  rgb(0,49,165) 0%,rgb(0,49,165) 100%);
    background: linear-gradient(to bottom,  rgb(0,49,165) 0%,rgb(0,49,165) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0031a5', endColorstr='#0031a5',GradientType=0 );

    border-bottom: 1px solid #103c56;
    -webkit-box-shadow: inset 0px 1px 0px 0px #6ad2ef;
    -moz-box-shadow: inset 0px 1px 0px 0px #6ad2ef;
    box-shadow: inset 0px 1px 0px 0px #6ad2ef;
}
.menu > li > a.active {
    border-bottom: 1px solid #1a638f;
}
.menu > li > a:before {
    content: '';
    /*background-image: url(../images/sprite.png);*/
    background-repeat: no-repeat;
    font-size: 36px;
    height: 1em;
    width: 1em;
    position: absolute;
    left: 0;
    top: 50%;
    margin: -.5em 0 0 0;
}
.item1 > a:before {
    background-position: 0 0;
}
.item2 > a:before {
    background-position: -38px 0;
}
.item3 > a:before {
    background-position: 0 -38px;
}
.item4 > a:before {
    background-position: -38px -38px;
}
.item5 > a:before {
    background-position: -76px 0;
}
.menu > li > a span {
    font-size: 0.857em; 
    display: inline-block;
    position: absolute;
    right: 1em;
    top: 50%; 
    background: #48515c;
    line-height: 1em;
    height: 1em;
    padding: .4em .6em;
    margin: -.8em 0 0 0; 
    color: #fff;
    text-indent: 0;
    text-align: center;
    -webkit-border-radius: .769em;
    -moz-border-radius: .769em;
    border-radius: .769em;
    -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
    -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
    text-shadow: 0px 1px 0px rgba(0,0,0,.5);
    font-weight: 500;
}
.menu > li > a:hover span, .menu > li a.active span {
    background: #2173a1;
}
.menu > li > ul li a:before{
    content: '▶';
    font-size: 8px;
    color: #bcbcbf;
    position: absolute;
    width: 1em;
    height: 1em;
    top: 0;
    left: -2.7em;
}

.menu > li > ul li:hover a,
.menu > li > ul li:hover a span,
.menu > li > ul li:hover a:before {
    color: #32373D;
}


.menu ul > li > a span {
    font-size: 0.857em; 
    display: inline-block;
    position: absolute;
    right: 1em;
    top: 50%;
    background: #fff;
    border: 1px solid #d0d0d3;
    line-height: 1em;
    height: 1em;
    padding: .4em .7em;
    margin: -.9em 0 0 0; 
    color: #878d95;
    text-indent: 0;
    text-align: center;
    -webkit-border-radius: .769em;
    -moz-border-radius: 769em;
    border-radius: 769em;
    text-shadow: 0px 0px 0px rgba(255,255,255,.01);
}


/* class utiles */
.clearleft{
    clear: left;
}

.clearboth{
    clear: both;
}

.clearrigth{
    clear: right;
}

.hidden{
    visibility: hidden;
}

.deconnexion:hover{
    background: #cd0a0a !important;
}